.cart-item{
    display : inline-flex;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 0px;
}
.cart-item.right{
    margin-left: 10px ;
}
.cart-item.right{
    padding: 20px ;
}
.cart-item.actions{
    margin-top: 20px;
}
.cart-item.icons{
    height: 40px;
    width: 40px;
}